:root {
    /* The formatting for this code was borrowed from this video: https://www.youtube.com/watch?v=dLDn_k8GmaU&t=1305s */
    /* Colours are all by our own choice. Sizes, as stated in the video, are from tailwind css documentation */
    /* These didn't modify the actual content and design choices of the site, but rather but it easier to program */

    /* Colours */
    --clr-main-text: #FDE7E7;
    --clr-main-text2: #afa1a1;
    --clr-line: rgba(253, 231, 231, 0.5);
    --clr-background: #080211;
    --clr-secondary: #200D21;
    --clr-accent: #6E12A6;
    --clr-accent2: #4b0c72;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}




/* Body */

body {
    background-color: var(--clr-background);
    color: var(--clr-main-text);
    font-family: 'Kanit', sans-serif;
}



/* Header */

.header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.header__left {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3em;
    /* border: 1px solid red; */
}

.header__right {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3em;
    /* border: 1px solid red; */
}

.header__link {
    text-decoration: none;
    font-size: var(--size-xl);
    color: var(--clr-main-text);
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--size-3xl);
}

.logo__icon {
    width: 25px;
    margin-right: 0.3em;
    display: flex;
    align-items: flex-end;
}

.header__searchbar {
    padding: 5px 10px;
    width: 300px;
    background-color: var(--clr-background);
    border: 2px solid var(--clr-line);
    border-radius: 5px;
    color: var(--clr-main-text);
    font-size: var(--size-lg);
}
.header__searchbar:focus {
    outline: none;
}

.header__link-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__icon {
    width: 25px;
    color: var(--clr-main-text);
}

.header__hr {
    opacity: 0.5;
}

.lang__label {
    margin-right: 0.5rem;
}

.lang__select {
    background-color: var(--clr-background);
    font-family: 'Kanit', sans-serif;
    color: var(--clr-main-text);
    border: none;
    font-size: var(--size-base);
}

/* Main */

.profile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 1rem;
}

.account {
    display: flex;
    grid-column: span 3;
    grid-row: span 1;
    padding: 5rem;
}

.account__picture {
    width: 400px;
    border-radius: 50%;
    margin-right: 2rem;
}

.account__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.account__name {
    font-weight: 500;
    font-size: var(--size-4xl);
}

.account__bio {
    font-size: var(--size-xl);
}

.account__btn {
    width: 6rem;
    padding: 0.4rem;
    font-family: inherit;
    background-color: var(--clr-accent);
    color: var(--clr-main-text);
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.account__btn:hover {
    background-color: var(--clr-accent2);
    color: var(--clr-main-text2);
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.account__heading {
    font-weight: 500;
}

.calendar__img {
    width: 100%;
}

.card {
    background-color: var(--clr-secondary);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.card__small {
    background-color: var(--clr-secondary);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.search {
    margin: 1rem 0;
    padding: 0.1rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.05s;
}

.search:hover {
    background-color: var(--clr-accent2);
}

.search__icon {
    width: 20px;
}

.card p {
    display: flex;
    gap: 1rem;
}

.draft__img {
    height: 60px;
    margin-right: 0.5rem;
    border-radius: 10px;
}

.draft {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.05s;
}

.draft:hover {
    background-color: var(--clr-accent2);
}

.settings__heading {
    margin: 0.5rem 0;
    font-weight: 500;
}

.settings__setting {
    margin: 0.4rem 0;
    display: flex;
    justify-content: space-between;
}


.notifications {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--clr-secondary);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.notifications__notif {
    margin: 1rem 0;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.05s;
}

.notifications__notif:hover {
    background-color: var(--clr-accent2);
}

/* Footer */

.footer__hr {
    opacity: 0.5;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer__sec {
    display: flex;
    flex-direction: column;
}

.footer__heading {
    font-weight: 500;
    font-size: var(--size-2xl);
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 2em;
}

.link-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.link-hover p {
    transition: color 0.3s;
}

.link-hover svg {
    transition: color 0.3s;
}

.link-hover a {
    transition: color 0.3s;
}

.link-hover:hover {
    color: var(--clr-main-text2);
}

.link-hover:hover p {
    color: var(--clr-main-text2);
}

.link-hover:hover svg {
    color: var(--clr-main-text2);
}

.link-hover:hover a {
    color: var(--clr-main-text2);
}

.footer-link {
    line-height: 2rem;
    text-decoration: none;
    color: var(--clr-main-text);
    transition: color 0.3s;
}

.footer-link:hover {
    color: var(--clr-main-text2);
}

/* The formatting for the rest of this code was borrowed from this video https://www.youtube.com/watch?v=K24lUqcT0Ms */
/* It just fits each element of class container into a set size based on the appropriate media query */
/* These didn't modify the actual content and design choices of the site, but rather but it easier to program */

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
    .dates {
        width: 640px;
        border-right: 1px solid var(--clr-line); 
    }
    .quickview {
        width: 640px;
    }
}